* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Bebas Neue", cursive;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  height: 100vh;
  background-image: url("bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.profile > img {
  width: 150px;
  height: 150px;
  border: 3px solid #222;
  border-radius: 100%;
}

.profile > p {
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: 2px;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
}

.link {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.link > a {
  text-decoration: none;
  color: #222;
  font-size: 24px;
  text-align: center;
  border: 3px solid #222;
  border-radius: 7px;
  background-color: #eaeaea;
  margin: 5px 10px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.link > a:hover {
  background-color: antiquewhite;
}

.footer {
  text-align: center;
}

.footer > i {
  color: white;
  font-size: 20px;
}
